extends default 

block content 
    form(action="/register", method="POST", style="display:flex; flex-direction: column; border:1px solid black; padding: 20px 30px; margin:auto; max-width: fit-content; box-sizing: border-box;")
        div
            if message 
                h4(style="text-align:center;")=message
        div
            label(for="username") نام کاربری:
            input(type="text", required="true", name="username", style="width: 100%; box-sizing: border-box;", value=username)
        div(style="margin-top: 10px;")
            label(for="password") کلمه عبور:
            input(type="password", required="true", name="password", style="width: 100%; box-sizing: border-box;")
        div(style="margin-top: 10px;")
            label(for="confirm-password") تکرار کلمه عبور: 
            input(type="password", required="true", name="confirmPassword", style="width: 100%; box-sizing: border-box;")
        div(style="margin-top: 10px;")
            button(type="submit", style="width: 100%; box-sizing: border-box;") ثبت
        div(style="margin-top: 20px; font-size:18px")
            span در صورت داشتن حساب کاربری 
            a(href="/login") ورود 
            span کنید. 
