body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#updateCityForm {
    width: 40%;
}
